body {
  /* background: #000; */
}

nav > div {
  display: inline;
  padding: 5px;
}

.App {
  max-width: 30%;
}

.App-header {
  display: grid;
  grid-template-columns: repeat(6, 2fr);
  grid-template-rows: repeat(6, 2fr);
}

.board-container {
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.game-tile {
  display: flex;
  border-radius: 10%;
  margin: 2px;
  text-align: center;
  color: black;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  width: 5vw;
  height: 5vw;
}

.game-tile p {
  position: absolute;
  z-index: 1;
  text-align: center;
  font-size: 2vw;
  padding-bottom: 0.1%;
  font-family: 'Readex Pro', Arial, Helvetica, sans-serif;
}

#inner {
  background-color: aliceblue;
  max-height: 75%;
  max-width: 75%;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------- For Mobile Displays (PORTRAIT) ----------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------*/

@media only screen and (max-width: 600px) and (orientation: portrait) {
  .App {
    width: 100%;
  }

  .game-tile {
    width: 15vw;
    height: 6vh;
  }

  .game-tile p {
    font-size: 2vh;
  }

  .board-container {
    width: 100%;
    display: grid;
  }
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------- For Mobile Displays (LANDSCAPE) ---------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------*/

@media only screen and (max-width: 989px) and (orientation: landscape) {
  .App {
    width: 100%;
  }

  .game-tile {
    width: 8vw;
    height: 14vh;
  }

  .game-tile p {
    font-size: 6vh;
  }

  .board-container {
    width: 100%;
    display: grid;
  }
}

/*-------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------- For Tablet Sized Displays (PORTRAIT) ---------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 601px) and (max-width: 1499px) and (orientation: portrait) {
  .App {
    width: 100%;
  }

  .game-tile {
    width: 15vw;
    height: 9vh;
  }

  .game-tile p {
    font-size: 4vh;
  }

  .board-container {
    width: 100%;
    display: grid;
  }
}

/*-------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------- For Tablet Sized Displays (Landscape) ---------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 990px) and (max-width: 1499px) and (orientation: landscape) {
  .App {
    width: 100%;
  }

  .game-tile {
    width: 8vw;
    height: 10vh;
  }

  .game-tile p {
    font-size: 5vh;
  }

  .board-container {
    width: 100%;
    display: grid;
  }
}
