body {
  /* background: #000; */
}

nav > div {
 display: inline;
 padding: 5px;
}

.dice-roller {
text-align: center;
}

.Gameboard {
  max-width: 50%;
  margin: auto;
}

.Gameboard-header {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
}

.game-log { 
  height:330px;
  width:300px;
  overflow-y:auto;
  float:left;
  position:relative;
  border: 1px;
  border-style: solid;
  margin:5px;
  list-style-type: none;
  padding-left: 0;
}

.game-log > li:nth-child(even) {
  background-color: #BBB;
}

.game-log > li:nth-child(odd) {
  background-color: #DDD;
}

.game-tile {
  display: flex;
  border-radius: 3px;
  text-align: center;
  color: black;
  justify-content: center;
  align-items: center;
}

.game-tile p {
  position: absolute;
  z-index: 1;
  text-align: center;
  font-size: 3vw;
  padding-bottom: 0.1%;
  font-family: 'Readex Pro', Arial, Helvetica, sans-serif;
}

.team-card-container{
  float:right;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(1, 1fr);
}

.team-card {
  height:150px;
  width:300px;
  border: 1px;
  border-style: solid;
  margin:5px;
}


.timer {
  text-align: center;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------- For Mobile Displays (PORTRAIT) ----------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------*/

@media only screen and (max-width: 600px) and (orientation: portrait) {
  .Gameboard {
    max-width: 100%;
  }

  .Gameboard-tile p {
    font-size: 4vh;
  }
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------- For Mobile Displays (LANDSCAPE) ---------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------*/

@media only screen and (max-width: 989px) and (orientation: landscape) {
  .Gameboard {
    max-width: 43vw;
    max-height: 100%;
  }
}

/*-------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------- For Tablet Sized Displays (PORTRAIT) ---------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 601px) and (max-width: 1499px) and (orientation: portrait) {
  .Gameboard {
    max-width: 100%;
  }

  .game-tile p {
    font-size: 4vh;
  }
}

/*-------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------- For Tablet Sized Displays (Landscape) ---------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 990px) and (max-width: 1499px) and (orientation: landscape) {
  .Gameboard {
    max-width: 50vw;
    max-height: 100%;
  }
}
